/*

Cores
Claro: #E57373
Médio: #E53935
Escuro: #B71C1C

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.cabecalho {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
     rgba(229, 115, 115, 0.8), 
     rgba(183, 28, 28, 0.8)) , 
     url(../img/header.jpeg);
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100% );
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 64px;
    animation-name: logoFade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes logoFade {
    0% {
        opacity: 0;
        transform: rotate(0)
    }

    100% {
        opacity: 1;
        transform: rotate(1turn)
    }
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display:block;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 63px;
    
    animation-name: moverDireita;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display:block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 11px;

    animation-name: moverEsquerda;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes moverDireita {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    80% {
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moverEsquerda {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    80% {
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

.bottom{
    text-align: center;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn-white::after {
    background-color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #777;
}


.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moverCima {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

.btn-animated {
    animation: moverCima .5s ease-out 2s;
    animation-fill-mode: backwards;
}
